asgiref==3.11.0
Django==6.0.1
django-filter==25.2
django-phonenumber-field==8.4.0
django-resized==1.0.3
django-restframework==0.0.1
djangorestframework==3.16.1
phonenumbers==9.0.22
pillow==12.1.0
sqlparse==0.5.5
tzdata==2025.3
