{% extends "base.html" %}
{% load static %}

{% block content %}

<section class='head'>
</section>

<section class="sec services">
  <h2 class="title">Какие услуги мы предлагаем</h2>

  <div class="service-list">
    {% for service in services|slice:":3" %}
      <div class="service">
        {% if service.img %}
          <img src="{{ service.img.url }}" alt="{{ service.name }}">
        {% endif %}
        <p>{{ service.name }}</p>
      </div>
    {% endfor %}
  </div>
</section>


<section class="sec masters">
  <h2 class="h2">Наши мастера</h2>

  <div class="tabs">
    <a class="tab tab--on" href="#">Ногтевой сервис</a>
    <a class="tab" href="#">Наращивание ресниц</a>
    <a class="tab" href="#">Брови</a>
  </div>

  <div class="mgrid">
    {% for m in masters|slice:":4" %}
      <article class="mcard">
        <div class="mimg">
          {% if m.img %}<img src="{{ m.img.url }}" alt="{{ m.name }}">{% endif %}
        </div>

        <div class="minfo">
          <h3 class="mname">{{ m.name }}</h3>
          <div class="mpos">{{ m.get_position_display }}</div>
          <div class="mexp">Опыт работы — {{ m.experience }}</div>
          <p class="mdesc">{{ m.description|truncatechars:140 }}</p>
          <a class="mbtn" href="{% url 'aboutmaster' m.id %}">Подробнее</a>
        </div>
      </article>
    {% endfor %}
  </div>
</section>



<section class="sec gallery">

  <h2 class="h2">Фотогалерея работ</h2>

  <div class="tabs">
    <a class="tab tab--on" href="#">Ногтевой сервис</a>
    <a class="tab" href="#">Наращивание ресниц</a>
    <a class="tab" href="#">Брови</a>
  </div>

  <div class="ggrid">
    {% for g in galleries|slice:":3" %}
      <div class="gcard">
        <div class="gimg">
          {% if g.img %}<img src="{{ g.img.url }}" alt="{{ g.name }}">{% endif %}
        </div>
        <div class="gcap">{{ g.name }}</div>
      </div>
    {% endfor %}
  </div>
</section>


<section class="rev">

  <h2 class="rh">Отзывы клиентов</h2>

  <div class="rgrid">
    {% for r in reviews|slice:":4" %}
      <article class="rcard">
        <div class="rquote">“</div>

        <p class="rtext">
          {{ r.comment|truncatechars:170 }}
        </p>

        <div class="rstars">
          {% for _ in "12345"|slice:":r.score" %}★{% endfor %}
        </div>

        <div class="rbot">
          <div class="rava">
            {% if r.master.img %}
              <img src="{{ r.master.img.url }}" alt="{{ r.master.name }}">
            {% endif %}
          </div>
          <div class="rwho">
            <div class="rname">Мастер {{ r.master.name }}</div>
            <div class="rrole">{{ r.master.get_position_display }}</div>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</section>

{% endblock content %}