{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="sec masters">
  <h2 class="h2">Наши мастера</h2>

  <div class="tabs">
  {% for t in typesofservice %}
    <a
      href="?type={{ t.id }}"
      class="tab {% if active_type == t.id %}tab--active{% endif %}"
    >
      {{ t.name }}
    </a>
  {% endfor %}
</div>


  <div class="mgrid">
  {% for m in masters %}
    <article class="mcard">
      <div class="mimg">
        {% if m.img %}
          <img src="{{ m.img.url }}" alt="{{ m.name }}">
        {% endif %}
      </div>

      <div class="minfo">
        <h3 class="mname">{{ m.name }}</h3>
        <div class="mpos">{{ m.get_position_display }}</div>
        <p class="mdesc">{{ m.description|truncatechars:120 }}</p>
        <a class="mbtn" href="{% url 'aboutmaster' m.id %}">Подробнее</a>
      </div>
    </article>
  {% empty %}
    <p style="text-align:center;">Нет мастеров для этого сервиса</p>
  {% endfor %}
</div>

</section>



<section class="sec gallery">
  <h2 class="h2">Фотогалерея работ</h2>

  <div class="tabs">
  {% for t in typesofservice %}
    <a
      href="?type={{ t.id }}"
      class="tab {% if active_type == t.id %}tab--active{% endif %}"
    >
      {{ t.name }}
    </a>
  {% endfor %}
</div>

  <div class="ggrid">
    {% for g in galleries %}
      <div class="gcard">
        {% if g.img %}
          <img src="{{ g.img.url }}" alt="{{ g.name }}">
        {% endif %}
        <p>{{ g.name }}</p>
      </div>
    {% empty %}
      <p style="text-align:center;">Нет работ для этого сервиса</p>
    {% endfor %}
  </div>
</section>


{% endblock content %}