{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="sec cat">
  <div class="chead">
    <h2 class="h2">Типы сервисов</h2>
  </div>

  <div class="grid">
    {% for t in typesofservice|slice:":6" %}
      <div class="card">
        <img class="img" src="static/images/614c9e029989f18c3f7ca15117e83acd73230869.jpg" alt="">
        <div class="body">
          <div class="name">{{ t.title }}</div>
          <div class="price">от {{ t.price }} ₽</div>
          <div class="btns">
            <a class="btn btn--line" href="#">Подробнее</a>
            <a href="#signupModal" class="open-btn">Записаться</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>


{% endblock %}
